In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
data = pd.read_csv('workshopdata-labeling.csv', thousands=',')

In [49]:
data

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
0,21/10/2021,SET,7UP,8177441790,39.35,0.58,3.16,0.50,NaN,NaN,0.71
1,21/10/2021,SET,AH,7629103258,6.88,-0.03,0.93,23.23,0.63,2.82,0.96
2,21/10/2021,SET,AI,5564992217,9.18,1.50,2.14,3.71,7.55,11.07,0.10
3,21/10/2021,SET,AIT,8252835880,15.22,0.24,2.82,14.18,3.75,4.88,1.54
4,21/10/2021,SET,AJ,8536000000,14.44,0.32,1.78,10.87,3.47,4.12,0.35
...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,109183848275,13.36,-0.52,0.53,2.13,3.97,3.97,0.17
220,21/10/2021,SET,TU,99253762317,12.64,0.26,1.71,12.14,3.46,4.09,0.46
221,21/10/2021,SET,TVO,25269093281,10.40,0.20,2.50,12.49,5.44,6.72,0.28
222,21/10/2021,SET,VGI,54680902246,49.99,6.53,3.44,1.85,0.96,0.96,0.46
223,21/10/2021,SET,WHA,49922427828,21.92,-3.93,1.74,1.92,3.00,3.00,0.57

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                224 non-null    object
 1   Market              224 non-null    object
 2   Symbol              224 non-null    object
 3   Market Cap          224 non-null    int64
 4   PE                  193 non-null    float64
 5   PEG                 185 non-null    float64
 6   PBV                 224 non-null    float64
 7   BVPS                224 non-null    float64
 8   Dividend Yield      179 non-null    float64
 9   12M Dividend Yield  180 non-null    float64
 10  Volume Turnover     223 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 19.4+ KB

In [51]:
condition = [
    (data['Market Cap'] < 2000000000),
    ((data['Market Cap'] >=2000000000) & (data['Market Cap'] < 10000000000)),
    ((data['Market Cap'] >=10000000000) & (data['Market Cap'] < 200000000000))
    
]

value = [1,2,3]

In [52]:
data['cap'] = np.select(condition, value)

In [53]:
condition2 = [
    (data['PE'] < 10),
    ((data['PE'] >= 10) & (data['PE'] < 20)),
    ((data['PE'] >= 20) & (data['PE'] < 50)),
    (data['PE'] > 50)
]

value2 = [1,2,3,4]

In [54]:
data['pe_range'] = np.select(condition2, value2)

In [55]:
data

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,cap,pe_range
0,21/10/2021,SET,7UP,8177441790,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2,3
1,21/10/2021,SET,AH,7629103258,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,1
2,21/10/2021,SET,AI,5564992217,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,1
3,21/10/2021,SET,AIT,8252835880,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,2
4,21/10/2021,SET,AJ,8536000000,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,109183848275,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,2
220,21/10/2021,SET,TU,99253762317,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,2
221,21/10/2021,SET,TVO,25269093281,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,2
222,21/10/2021,SET,VGI,54680902246,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,3
223,21/10/2021,SET,WHA,49922427828,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,3

In [56]:
data['Dividend Yield'] = data['Dividend Yield'].fillna(0)

In [57]:
data['has_div'] = 0

data.loc[data['Dividend Yield']>0,'has_div'] = 1

In [58]:
data

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,cap,pe_range,has_div
0,21/10/2021,SET,7UP,8177441790,39.35,0.58,3.16,0.50,0.00,NaN,0.71,2,3,0
1,21/10/2021,SET,AH,7629103258,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,1,1
2,21/10/2021,SET,AI,5564992217,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,1,1
3,21/10/2021,SET,AIT,8252835880,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,2,1
4,21/10/2021,SET,AJ,8536000000,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,109183848275,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,2,1
220,21/10/2021,SET,TU,99253762317,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,2,1
221,21/10/2021,SET,TVO,25269093281,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,2,1
222,21/10/2021,SET,VGI,54680902246,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,3,1
223,21/10/2021,SET,WHA,49922427828,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,3,1