In [1]:
import pandas as pd
import pandas_ta as ta
import numpy as np
import yfinance as yf
from datetime import datetime

In [2]:
data = pd.DataFrame()
data = data.ta.ticker('AAPL', period = '3y', interval ='1d')

In [3]:
df = data.copy()

In [4]:
df.resample('W-Mon').last()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-30 00:00:00-05:00,70.894370,71.685462,69.855914,71.398903,144114400,0.0,0.0
2020-01-06 00:00:00-05:00,71.954851,73.465999,71.700133,73.426811,118387200,0.0,0.0
2020-01-13 00:00:00-05:00,76.326673,77.656584,76.206658,77.629639,121532000,0.0,0.0
2020-01-20 00:00:00-05:00,77.460642,78.065593,77.149597,78.063148,137816400,0.0,0.0
2020-01-27 00:00:00-05:00,75.939688,76.358498,74.671008,75.667831,161940000,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-05 00:00:00-05:00,147.770004,150.919998,145.770004,146.630005,68826400,0.0,0.0
2022-12-12 00:00:00-05:00,142.699997,144.500000,141.059998,144.490005,70462700,0.0,0.0
2022-12-19 00:00:00-05:00,135.110001,135.199997,131.320007,132.369995,79592600,0.0,0.0
2022-12-26 00:00:00-05:00,130.919998,132.419998,129.639999,131.860001,63771000,0.0,0.0
2023-01-02 00:00:00-05:00,131.380005,131.408005,128.720703,129.470001,28341266,0.0,0.0

In [5]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-20 00:00:00-05:00,131.389999,133.250000,129.889999,132.300003,77432800,0.0,0.0
2022-12-21 00:00:00-05:00,132.979996,136.809998,132.750000,135.449997,85928000,0.0,0.0
2022-12-22 00:00:00-05:00,134.350006,134.559998,130.300003,132.229996,77852100,0.0,0.0
2022-12-23 00:00:00-05:00,130.919998,132.419998,129.639999,131.860001,63771000,0.0,0.0
2022-12-27 00:00:00-05:00,131.380005,131.408005,128.720703,129.470001,28341266,0.0,0.0

### การทำ resample ที่ถูกต้องใช้ aggregate

### Week

In [6]:
df_weekly = df.resample('W-Fri').agg({'Open': 'first',
                                     'High':'max',
                                     'Low':'min',
                                     'Close':'last',
                                     'Volume' : 'sum'})

In [8]:
df_weekly.tail(10)

,Open,High,Low,Close,Volume
Date,,,,,
2022-10-28 00:00:00-04:00,146.946233,157.239166,143.891307,155.482086,512851100
2022-11-04 00:00:00-04:00,152.906350,155.192551,134.380005,138.380005,510660400
2022-11-11 00:00:00-05:00,137.110001,150.009995,134.589996,149.699997,461034600
2022-11-18 00:00:00-05:00,148.970001,153.589996,146.149994,151.289993,382679700
2022-11-25 00:00:00-05:00,150.160004,151.830002,146.929993,148.110001,204025500
2022-12-02 00:00:00-05:00,145.139999,149.130005,140.350006,147.809998,400906000
2022-12-09 00:00:00-05:00,147.770004,150.919998,140.000000,142.160004,341472500
2022-12-16 00:00:00-05:00,142.699997,149.970001,133.729996,134.509995,505652100
2022-12-23 00:00:00-05:00,135.110001,136.809998,129.639999,131.860001,384576500
2022-12-30 00:00:00-05:00,131.380005,131.408005,128.720703,129.470001,28341266

### Month

In [9]:
df_monthly = df.resample('BM').agg({'Open': 'first',
                                     'High':'max',
                                     'Low':'min',
                                     'Close':'last',
                                     'Volume' : 'sum'})

In [10]:
df_monthly

,Open,High,Low,Close,Volume
Date,,,,,
2019-12-31 00:00:00-05:00,71.300934,71.998955,69.855914,71.920570,391186000
2020-01-31 00:00:00-05:00,72.554924,80.296818,71.700133,75.805008,2934370400
2020-02-28 00:00:00-05:00,74.528965,80.332720,62.939008,67.110062,3019279200
2020-03-31 00:00:00-04:00,69.299915,74.632191,52.195895,62.428364,6280072400
2020-04-30 00:00:00-04:00,60.515910,72.307300,58.159097,72.128082,3265299200
2020-05-29 00:00:00-04:00,70.274575,79.816614,70.176376,78.265762,2805936000
2020-06-30 00:00:00-04:00,78.218993,91.667004,78.086061,89.801064,3243375600
2020-07-31 00:00:00-04:00,89.879832,104.782680,87.777585,104.630058,3020283200
2020-08-31 00:00:00-04:00,106.540297,129.223132,106.237518,127.289711,4070061100
2020-09-30 00:00:00-04:00,130.959263,136.108458,101.701571,114.239174,3885245100
2020-10-30 00:00:00-04:00,116.044356,123.689232,106.258909,107.383446,2894666500
2020-11-30 00:00:00-05:00,107.630055,120.542949,105.864333,117.637833,2123077300
2020-12-31 00:00:00-05:00,119.574582,137.143671,118.586444,131.116043,2322189600
2021-01-29 00:00:00-05:00,131.936187,143.368959,124.880875,130.394699,2240262000
2021-02-26 00:00:00-05:00,132.163455,136.448078,117.160465,120.000671,1833855600
2021-03-31 00:00:00-04:00,122.464809,127.383191,115.003122,120.881439,2650418200
2021-04-30 00:00:00-04:00,122.375744,135.646478,121.217890,130.094727,1889857500
2021-05-31 00:00:00-04:00,130.668691,132.677622,121.185877,123.525337,1711934900
2021-06-30 00:00:00-04:00,123.991251,136.213917,122.058226,135.767838,1606590000
2021-07-30 00:00:00-04:00,135.410983,148.694335,134.578284,144.590378,1919035100
2021-08-31 00:00:00-04:00,145.086026,152.381927,143.456831,150.733902,1461542800
2021-09-30 00:00:00-04:00,151.726694,156.124715,140.250139,140.478485,1797835100
2021-10-29 00:00:00-04:00,140.875577,152.064211,137.271799,148.718567,1565079200
2021-11-30 00:00:00-05:00,147.914411,164.743869,146.628986,164.346176,1691029000
2021-12-31 00:00:00-05:00,166.513599,181.079048,156.889462,176.545380,2444766700
2022-01-31 00:00:00-05:00,176.803874,181.884396,153.807326,173.771469,2108446000
2022-02-28 00:00:00-05:00,173.005919,175.854428,151.315458,164.376358,1627516300
2022-03-31 00:00:00-04:00,163.958256,178.801116,149.424003,173.823624,2180800100
2022-04-29 00:00:00-04:00,173.246241,177.686146,154.680240,156.940002,1687795600
2022-05-31 00:00:00-04:00,156.004241,165.730228,132.206748,148.387390,2401040300
2022-06-30 00:00:00-04:00,149.444166,151.278582,128.647587,136.304245,1749099800
2022-07-29 00:00:00-04:00,135.626296,163.132413,135.247462,162.015808,1447125400
2022-08-31 00:00:00-04:00,160.520365,175.858266,156.879756,156.959625,1510239600
2022-09-30 00:00:00-04:00,156.380589,163.987960,137.771449,137.971115,2084722800
2022-10-31 00:00:00-04:00,137.981113,157.239166,134.147469,153.086044,1868139700
2022-11-30 00:00:00-05:00,154.823169,155.192551,134.380005,148.029999,1724691200
2022-12-30 00:00:00-05:00,148.210007,150.919998,128.720703,129.470001,1396714166

### Day

In [11]:
df_everyday = df.resample('D').last()

In [12]:
df_everyday

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-27 00:00:00-05:00,71.300934,71.998955,70.566175,70.977638,146266000.0,0.0,0.0
2019-12-28 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-29 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-30 00:00:00-05:00,70.894370,71.685462,69.855914,71.398903,144114400.0,0.0,0.0
2019-12-31 00:00:00-05:00,71.009470,71.927918,70.909052,71.920570,100805600.0,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,130.919998,132.419998,129.639999,131.860001,63771000.0,0.0,0.0
2022-12-24 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-25 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-26 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-27 00:00:00-05:00,131.380005,131.408005,128.720703,129.470001,28341266.0,0.0,0.0

In [13]:
df_businessday = df_everyday.resample('B').last()
df_businessday

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-27 00:00:00-05:00,71.300934,71.998955,70.566175,70.977638,146266000.0,0.0,0.0
2019-12-30 00:00:00-05:00,70.894370,71.685462,69.855914,71.398903,144114400.0,0.0,0.0
2019-12-31 00:00:00-05:00,71.009470,71.927918,70.909052,71.920570,100805600.0,0.0,0.0
2020-01-01 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02 00:00:00-05:00,72.554924,73.622776,72.297761,73.561546,135480400.0,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-21 00:00:00-05:00,132.979996,136.809998,132.750000,135.449997,85928000.0,0.0,0.0
2022-12-22 00:00:00-05:00,134.350006,134.559998,130.300003,132.229996,77852100.0,0.0,0.0
2022-12-23 00:00:00-05:00,130.919998,132.419998,129.639999,131.860001,63771000.0,0.0,0.0
2022-12-26 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-27 00:00:00-05:00,131.380005,131.408005,128.720703,129.470001,28341266.0,0.0,0.0