In [8]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv(r'/Users/Yanak/Downloads/stock.csv')

In [14]:
df

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
0,Average,NaN,NaN,NaN,19.49,1.61,3.363165e+07,105048.26,24834.05,62.50,...,5.61,2.36,-12.97,0.77,40.89,NaN,559.69,558.51,-1.10,NaN
1,2S,1.0,i | 1 | 2 | 3,NaN,6.85,2.24,1.073600e+06,7281.00,3425.00,4.72,...,40.31,38.98,15.65,3.28,58.11,NaN,31.00,17.00,0.02,NaN
2,3K-BAT,2.0,i,NaN,68.25,-0.73,1.000000e+03,68.00,5351.00,49.35,...,-3.08,5.28,3.29,0.37,2.10,NaN,914.00,NaN,NaN,NaN
3,7UP,3.0,i | 1 | 2 | 3,NaN,1.61,2.55,2.758150e+08,440191.00,8280.00,39.60,...,7.70,10.20,37.44,NaN,66.55,NaN,741.00,713.00,-0.29,NaN
4,A,4.0,i | 1 | 2 | 3,NaN,4.96,-0.40,1.500000e+03,7.00,4861.00,51.30,...,3.99,2.77,-4.93,0.60,25.86,NaN,989.00,927.00,-0.18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,XPG,752.0,i | 1 | 2 | 3,NaN,3.98,-4.33,3.193370e+07,128129.00,11405.00,830.92,...,1.49,1.56,129.78,NaN,61.26,NaN,1082.00,1106.00,-1.65,NaN
753,YGG,753.0,i | 1 | 3,NaN,20.70,-1.90,6.996000e+05,14600.00,3726.00,43.20,...,22.08,24.21,32.10,0.85,26.32,NaN,534.00,489.00,2.63,NaN
754,YUASA,754.0,i | 1 | 3,NaN,16.80,0.00,6.400000e+03,108.00,1808.00,10.59,...,16.70,20.39,5.82,2.63,15.27,NaN,215.00,178.00,0.23,NaN
755,ZEN,755.0,i | 1 | 3,NaN,11.80,-0.84,1.912000e+05,2278.00,3540.00,158.12,...,2.18,1.83,-3.45,2.12,26.68,NaN,1060.00,1060.00,-6.52,NaN
756,ZIGA,756.0,i | 1 | 2 | 3,NaN,5.05,-1.94,5.696200e+06,29052.00,2511.00,16.18,...,14.36,20.29,13.69,3.19,37.17,NaN,322.00,306.00,0.32,NaN

In [15]:
df.dtypes

Name          object
No.          float64
Links         object
Sign          object
Last         float64
Chg%         float64
Volume       float64
Value (k)    float64
MCap (M)     float64
P/E          float64
P/BV          object
D/E          float64
DPS           object
EPS          float64
ROA%         float64
ROE%         float64
NPM%         float64
Yield%        object
FFloat%      float64
MG%          float64
Magic1       float64
Magic2       float64
PEG          float64
CG           float64
dtype: object

In [17]:
df = df.replace('-', np.nan)

In [18]:
df['Yield%'] = df['Yield%'].astype(float)

In [19]:
df['Yield%']

0      0.77
1      3.28
2      0.37
3       NaN
4      0.60
       ...
752     NaN
753    0.85
754    2.63
755    2.12
756    3.19
Name: Yield%, Length: 757, dtype: float64

In [20]:
df[(df['P/E'] > 5) & (df['P/E'] < 20) & (df['Yield%'] > 5)].sort_values(['P/E','Yield%','ROE%'],ascending=[True,False,False])

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
528,SENA,528.0,i | 1 | 3,NaN,3.96,0.00,810200.0,3198.0,5686.0,5.11,...,9.23,16.74,25.53,7.87,32.25,NaN,168.0,236.0,0.09,NaN
43,AP,43.0,i | 1 | 2 | 3,NaN,8.40,0.60,5562200.0,46413.0,26426.0,5.28,...,10.23,17.14,14.56,5.36,65.00,NaN,163.0,206.0,0.99,NaN
658,TNITY,658.0,i | 1 | 3,NaN,6.70,0.00,426300.0,2861.0,1437.0,5.74,...,7.39,16.06,23.37,7.46,52.59,NaN,183.0,302.0,0.21,NaN
348,MCS,348.0,i | 1 | 2 | 3,XD,14.60,0.00,2778800.0,40395.0,6964.0,5.99,...,24.01,31.31,21.75,6.85,87.47,NaN,62.0,39.0,0.35,NaN
598,SUTHA,598.0,i | 1 | 2 | 3,NaN,4.50,-1.75,110900.0,502.0,1350.0,6.07,...,12.48,40.83,5.92,6.22,22.19,NaN,38.0,150.0,-0.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,FSMART,211.0,i | 1 | 2 | 3,NaN,10.60,-2.75,4030000.0,42969.0,8480.0,17.29,...,17.59,39.97,14.53,5.66,34.77,NaN,266.0,304.0,0.76,NaN
621,TEAMG,621.0,i | 1 | 2 | 3,NaN,2.42,3.42,10392200.0,25014.0,1646.0,17.97,...,5.93,9.78,5.10,6.61,54.01,NaN,566.0,613.0,9.54,NaN
471,Q-CON,471.0,i | 1 | 3,NaN,5.20,-0.95,105500.0,553.0,2080.0,19.46,...,5.70,5.43,10.38,8.85,15.00,NaN,704.0,639.0,-0.14,NaN
742,WHAUP,742.0,i | 1 | 2 | 3,NaN,4.26,0.00,2832100.0,12037.0,16295.0,19.68,...,4.92,6.89,31.27,5.93,25.59,NaN,671.0,690.0,0.13,NaN
365,MODERN,365.0,i | 1 | 2 | 3,NaN,3.56,-1.11,192600.0,688.0,2670.0,19.68,...,5.62,6.17,4.43,5.62,68.74,NaN,682.0,642.0,-0.81,NaN

In [21]:
df['P/BV'] = df['P/BV'].astype(float)

In [22]:
df[df['P/BV'] == '-']

Empty DataFrame
Columns: [Name, No., Links, Sign, Last, Chg%, Volume, Value (k), MCap (M), P/E, P/BV, D/E, DPS, EPS, ROA%, ROE%, NPM%, Yield%, FFloat%, MG%, Magic1, Magic2, PEG, CG]
Index: []

[0 rows x 24 columns]

In [23]:
df[(df['P/E'] > 10) & (df['P/E'] < 100)].sort_values(['P/E','P/BV'],ascending = [True,True])

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
693,TSTH,693.0,i | 1 | 3,NaN,1.72,1.18,44197000.0,75240.0,14485.0,10.06,...,11.80,14.24,10.74,NaN,32.09,NaN,295.0,246.0,0.03,NaN
159,CSC,159.0,i | 1 | 3,NaN,48.75,-0.51,46000.0,2247.0,2535.0,10.13,...,6.99,7.02,8.05,5.03,38.07,NaN,488.0,397.0,1.18,NaN
242,HFT,242.0,i | 1 | 2 | 3,NaN,8.40,-2.33,3339000.0,28240.0,5531.0,10.13,...,17.07,17.13,16.32,3.75,44.74,NaN,251.0,167.0,-1.34,NaN
597,SUSCO,597.0,i | 1 | 2 | 3,NaN,3.32,0.61,1608800.0,5345.0,3652.0,10.18,...,7.69,9.45,1.70,3.34,54.87,NaN,411.0,363.0,0.32,NaN
513,SCC,513.0,i | 1 | 2 | 3,NaN,424.00,-0.93,906700.0,385150.0,508800.0,10.21,...,9.89,15.37,14.88,3.30,66.21,NaN,274.0,300.0,-1.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,GULF,236.0,i | 1 | 2 | 3,NaN,41.75,-1.76,69909800.0,2960616.0,489859.0,84.69,...,5.61,12.46,17.21,0.91,26.23,NaN,746.0,887.0,3.41,NaN
477,RBF,477.0,i | 1 | 3,NaN,19.50,-1.52,5034300.0,99166.0,39000.0,85.71,...,13.58,11.41,11.29,0.77,27.62,NaN,778.0,620.0,NaN,NaN
623,TFI,623.0,i | 1 | 3,NP,0.28,7.69,157064200.0,44634.0,4711.0,90.97,...,4.95,3.85,-228.54,NaN,11.81,NaN,1001.0,925.0,-0.58,NaN
458,PROEN,458.0,i,NaN,6.65,-0.75,1060600.0,7039.0,2101.0,93.80,...,6.54,8.01,4.47,NaN,25.52,NaN,871.0,836.0,NaN,NaN
91,BIG,91.0,i | 1 | 2 | 3,NaN,0.64,4.92,32919100.0,20855.0,2258.0,99.40,...,1.41,1.38,-6.38,NaN,30.59,NaN,1055.0,1081.0,-25.62,NaN